---
import SidePanel from '@features/sidePanel/SidePanel.astro'
import { DarkTheme } from '@styles/themes/dark.css.ts'
import {
  AppRootStyled,
  MainPanelContainer,
  PageStyled
} from '@layouts/Document/Document.css'
import '@styles/global.css.ts'

type Props = {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="title" content={title} />
    <title>{title}</title>
  </head>

  <body class:list={[AppRootStyled, DarkTheme]}>
    <div class:list={PageStyled}>
      <SidePanel />
      <main class={MainPanelContainer}>
        <slot />
      </main>
    </div>
  </body>
</html>
